<!doctype html>

{% load staticfiles %}
{% load ticket_extras %}

<html lang="en">
<head>
  <title>connection</title>
    <link rel='icon' href="{% static 'img/favicon.ico' %}" type='image/x-icon'/ >

  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/text-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/coverflow.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %} ">
  <script src="{% static 'js/form.js' %} "></script>
</head>

<!-- quick fix here : div and inline css !-->

<body>

	<!-- Header -->
	<section class="billboard main">
		<header class="wrapper main">

			<!-- Connexion field + button -->
			<!-- End connexion field + button -->

			<!-- Navbar -->
      <a href="/ticket/{{ user_id }}/connected/"><img class="logo" src="{% static 'img/logo.png' %}" alt=""/></a>
			<nav>
				<ul>
          <li><a href="/ticket/{{ user_id }}/connected/">Accueil</a></li>
          <li><a href="/ticket/{{ user_id }}/Evenements/">Evenements</a></li>
          <li><a href="/ticket/{{ user_id }}/mesAssociations/">Mes associations</a></li>
          <li><a href="/ticket/{{ user_id }}/mesEvenements/">Mes evenements</a></li>
          <li><a href="/ticket/">Deconnexion</a></li>
				</ul>
			</nav>
		</header>
		<!-- End Navbar -->

		<!-- Page title -->
		<div class="underline">Billeterie</div>
		<!-- EndPage title -->

	</section>
	<!-- End Header -->
	
	<!-- Body-->

<div class = "container">
  <div class = "form">
{% with "/ticket/"|addstr:user_id|addstr:"/"|addstr:asso_id|addstr:"/addMember/" as url_ %}
<h2>Nouveau membre</h2>
<form method="POST"  action={{ url_ }}>
{% csrf_token %}
<input type="text" name="firstname" placeholder="Firstname">
<input type="text" name="lastname" placeholder="Lastname">
<input type="text" name="mail" placeholder="Email">
<input type="submit" value="Valider" />

{% endwith %}
</form>
</div>
</div>
</body>
</html>

