<!doctype html>

{% load staticfiles %}

<html lang="en">
<head>
  <title>connection</title>
    <link rel='icon' href="{% static 'img/favicon.ico' %}" type='image/x-icon'/ >

  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/text-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/coverflow.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %} ">
  <script src="{% static 'js/form.js' %} "></script>
</head>



<!-- quick fix here : div and inline css !-->
<style>
  #connection_div {
    position: absolute;
    top: 50%;
    left: 50%;
    padding:15px;
    -ms-transform: translatex(-50%) translatey(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  div#connection_div h1 {
    color: #23519b;
  }
  div#connection_div li {
    list-style-type: none;
    margin-top: 15px;
  }
  div#connection_div a {
    color: #23519b;
  }
  #logo {
  }
</style>

<body ng-app="ngApp">

	<!-- Header -->
	<section class="billboard main">
		<header class="wrapper main">

			<!-- Connexion field + button -->
			<!-- End connexion field + button -->

			<!-- Navbar -->
      <a href="/ticket/{{ user_id }}/connected/"><img class="logo" src="{% static 'img/logo.png' %}" alt=""/></a>
			<nav>
				<ul>
					<li><a href="/ticket/">Accueil</a></li>
					<li><a href="/ticket/Evenements/">Evenements</a></li>
					<li><a href="/ticket/connection_form/">Mes associations</a></li>
					<li><a href="/ticket/connection_form/">Mes evenements</a></li>
					<li><a href="/ticket/connection_form/">Connexion</a></li>
				</ul>
			</nav>
		</header>
		<!-- End Navbar -->

		<!-- Page title -->
		<div class="underline">Connexion</div>
		<!-- EndPage title -->

	</section>
	<!-- End Header -->
	
	<!-- Body-->


<div class="container">

<div class="form">
      <h2>Connexion </h2>

  <form method="POST"  action="/ticket/connection_DB/">
    {% csrf_token %}
    <input type="text" name="mail" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Connect" />
    <script>

    </script>
  

    <li><a href="/ticket/passwordRecovery_form/">Mot de passe oublié?</a></li>
    <li><a href="/ticket/inscription/">Inscription</a></li>
    <li><a href="{% url 'social:begin' backend='epita' %}">Epita connect</a></li>
  </form>
</div>
</div>
</body>
</html>
