<!DOCTYPE html>

{% load ticket_extras %}
{% load staticfiles %}

<html lang="en">
<head>
	<title>Tender-Tickets</title>
	<meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/text-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/coverflow.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'css/search_bar.css' %} ">
  <script src="/static/js/angular.js"></script>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/coverflow.js"></script>
</head>
<body ng-app="ngApp">
	<!-- Header -->
	<section class="billboard main">
		<header class="wrapper main">

			<!-- Connexion field + button -->
			<!-- End connexion field + button -->

			<!-- Navbar -->
      <a id="logo" href="/ticket/{{ user_id }}/connected/"><img class="logo" src="{% static 'img/logo.png' %}" alt=""/></a>
			<nav>
				<ul>
          <li><a href="/ticket/{{ user_id }}/connected/">Accueil</a></li>
          <li><a href="/ticket/{{ user_id }}/Evenements/">Evenements</a></li>
          <li><a href="/ticket/{{ user_id }}/mesAssociations/">Mes associations</a></li>
          <li><a href="/ticket/{{ user_id }}/mesEvenements/">Mes evenements</a></li>
          <li><a href="/ticket/">Deconnexion</a></li>

<li>
{% with "/ticket/"|addstr:user_id|addstr:"/resultatRecherche/" as url_ %}
<form method="POST"  action={{ url_ }}>
{% csrf_token %}
<div class="wrap">
  <div class="search">
<input type="text"  class="searchTerm" name="search" placeholder="Recherche">
<button type="submit" class="searchButton" />  <i class="fa fa-search"></i> </button>
</form>
</div>
</div>
{% endwith %}
</li>

				</ul>
			</nav>
		</header>
		<!-- End Navbar -->

		<!-- Page title -->
		<div class="underline">Billeterie</div>
		<!-- EndPage title -->

	</section>
	<!-- End Header -->

<style>
#search {
  width:40%;
}
#logo {
  position: absolute;
  left: 10%;
  top: 40%;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

#calendar {
  position: absolute;
  padding-top: 50%;
  top: 85%; 
  left: 50%;
  width:80%;
  height:20%;
  -ms-transform: translatex(-50%) translatey(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin-bottom: 20%;
}

/* Month header */
.month {
    width: 100%;
    height: 20%;
    background: #253c60;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 15px;
    padding: 7px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center;
}

#adminmail {
  position: absolute;
  top: 33%;
  left: 1%;
}

#adminmail p {
  color: #050505;
}

/* Days (1-31) */
.days {
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    background: #1abc9c;
    color: white !important
}

.days li .event_active {
    background: #1020ff;
    color: white;
}

#wrapper {
  position: absolute;
  padding-top: 40%;
  top: 40%;
  left: 50%;
  -ms-transform: translatex(-50%) translatey(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
#footer {
  position: fixed;
  top: 72%;
  left: 50%;
  -ms-transform: translatex(-50%) translatey(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
</style>

	
	<!-- Body-->
<div id="raw_data" style="display: none;">
{% for e in list_event %}
  <div class="title">{{e.title}}</div>
  <div class="imageEvent">{{e.image}}</div>
  <div class="premium">{{e.premium}}</div>
  <div class="date_lieu">{{e.begin_field}} {{e.place}}</div>
{% endfor %}
</div>


	<div id="wrapper" id = "coverflow">
		<div class="pwd">
		</div>
		<div id="post" ng-app="ngApp">
			<div ng-controller="dataController">
					<coverflow list="items"></coverflow>
			</div>
		</div>
	</div>
	<!--End Body-->



<!-- CALENDAR -->
<div id="calendar">
  <div class="month">
    <ul>
      <li>{{ calendar.month }}
        <span style="font-size:15px"> {{calendar.year}}</span></li>
    </ul>
  </div>

  <ul class="weekdays">
    <li>Lu</li>
    <li>Ma</li>
    <li>Me</li>
    <li>Je</li>
    <li>Ve</li>
    <li>Sa</li>
    <li>Di</li>
  </ul>

  <ul class="days">
    {% for day in calendar.days %}
      <li>

        {% if day.today %}
          <span class="active">
        {% endif %}

        {% if day.event %}
          <span class="event_active">
        {% endif %}

        {{ day.number }}

        {% if day.today %}
          </span>
        {% endif %}

        {% if day.event_active %}
          </span>
        {% endif %}

      </li>
    {% endfor %}
  </ul>
  <div class="month" id="nextmonth">
    <ul>
      <li>{{ calendar.nextmonth }}
        <span style="font-size:15px"> {{calendar.nextyear}}</span></li>
    </ul>
  </div>

  <ul class="weekdays">
    <li>Lu</li>
    <li>Ma</li>
    <li>Me</li>
    <li>Je</li>
    <li>Ve</li>
    <li>Sa</li>
    <li>Di</li>
  </ul>

  <ul class="days">
    {% for day in calendar.nextdays %}
      <li>

        {% if day.today %}
          <span class="active">
        {% endif %}

        {% if day.event %}
          <span class="event_active">
        {% endif %}

        {{ day.number }}

        {% if day.today %}
          </span>
        {% endif %}

        {% if day.event_active %}
          </span>
        {% endif %}

      </li>
    {% endfor %}
  </ul>
</div>
<!-- END CALENDAR -->


</body>
</html>
