<!doctype html>

{% load staticfiles %}
{% load ticket_extras %}

<html lang="en">
<head>
  <title>connection</title>
    <link rel='icon' href="{% static 'img/favicon.ico' %}" type='image/x-icon'/ >

  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/text-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/coverflow.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %} ">
</head>

<!-- quick fix here : div and inline css !-->
<style>
  #if_div {
    position: absolute;
    top: 50%;
    left: 50%;
    padding:15px;
    -ms-transform: translatex(-50%) translatey(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  div#if_div h1 {
    color: #23519b;
  }
  div#if_div li {
    list-style-type: none;
    margin-top: 15px;
  }
  div#if_div a {
    color: #23519b;
  }
</style>


<body>

	<!-- Header -->
	<section class="billboard main">
		<header class="wrapper main">

			<!-- Connexion field + button -->
			<!-- End connexion field + button -->

			<!-- Navbar -->
      <a href="/ticket/{{ user_id }}/connected/"><img class="logo" src="{% static 'img/logo.png' %}" alt=""/></a>
			<nav>
				<ul>
          <li><a href="/ticket/{{ user_id }}/connected/">Accueil</a></li>
          <li><a href="/ticket/{{ user_id }}/Evenements/">Evenements</a></li>
          <li><a href="/ticket/{{ user_id }}/mesAssociations/">Mes associations</a></li>
          <li><a href="/ticket/{{ user_id }}/mesEvenements/">Mes evenements</a></li>
          <li><a href="/ticket/">Deconnexion</a></li>
				</ul>
			</nav>
		</header>
		<!-- End Navbar -->

		<!-- Page title -->
		<div class="underline">Billeterie</div>
		<!-- EndPage title -->

	</section>
	<!-- End Header -->
	
	<!-- Body-->

<div class="containerconnexion">
<div class="form">
{% with "/ticket/"|addstr:user_id|addstr:"/createAssociation/" as url_ %}

<form method="POST"  action={{ url_ }} enctype="multipart/form-data">
{% csrf_token %}
<input type="text" name="name" placeholder="Nom">
<input type="text" name="url" placeholder="Lien">
<input type="text" name="mail" placeholder="Email">
<input type="file" name="image" placeholder="Image">
<input type="submit" value="Creation" />

{% endwith %}
</div>
</div>

</body>
</html>


