
<!doctype html>

{% load staticfiles %}

<html lang="en">
<head>
  <title>connection</title>
    <link rel='icon' href="{% static 'img/favicon.ico' %}" type='image/x-icon'/ >

  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/text-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/coverflow.css' %} ">
     <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %} ">
  <script src="{% static 'js/form.js' %} "></script>
</head>

<!-- quick fix here : div and inline css !-->
<style>
  #if_div {
    position: absolute;
    top: 55%;
    left: 50%;
    padding:15px;
    -ms-transform: translatex(-50%) translatey(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  div#if_div h1 {
    color: #23519b;
  }
  div#if_div li {
    list-style-type: none;
    margin-top: 15px;
  }
  div#if_div a {
    color: #23519b;
  }
  #frame {
    border:1px solid black;
    padding: 10px;
    background: #00435f;
  }
  div#if_div input{
    width: 200px;
    height: 20px;
  }
</style>


<body>

	<!-- Header -->
	<section class="billboard main">
		<header class="wrapper main">

			<!-- Connexion field + button -->
			<!-- End connexion field + button -->

			<!-- Navbar -->
      <a href="/ticket/{{ user_id }}/connected/"><img class="logo" src="{% static 'img/logo.png' %}" alt=""/></a>
			<nav>
				<ul>
					<li><a href="/ticket/">Accueil</a></li>
					<li><a href="/ticket/Evenements/">Evenements</a></li>
					<li><a href="/ticket/connection_form/">Mes associations</a></li>
					<li><a href="/ticket/connection_form/">Mes evenements</a></li>
					<li><a href="/ticket/connection_form/">Connexion</a></li>
				</ul>
			</nav>
		</header>
		<!-- End Navbar -->

		<!-- Page title -->
		<div class="underline">Evenements</div>
		<!-- EndPage title -->

	</section>
	<!-- End Header -->
	
	<!-- Body-->

<div class = "container">
<div class = "form">

<h2>Creer un evenement</h2>
{% load ticket_extras %}

{% with "/ticket/"|addstr:user_id|addstr:"/"|addstr:asso_id|addstr:"/createEvent/" as url_ %}

<form method="POST"  action={{ url_ }} enctype="multipart/form-data">
{% csrf_token %}
<input type="text" name="title" placeholder="Titre">
<textarea name="description" cols="50" rows="6">Description</textarea>
<label for="begin">Début :</label>
<input type="datetime-local" name="begin" id="begin" placeholder="Début">

<label for="end">Fin :</label>
<input type="datetime-local" name="end" id="end" placeholder="Fin">


<label for="close">Fin Inscription :</label>
<input type="datetime-local" name="close" id="close" placeholder="Fin inscription">

<input type="text" name="place" placeholder="Lieu">
<input type="hidden" name="creator_id" value="{{ user_id }}">
<input type="hidden" name="asso_id" value="{{ asso_id }}">

<input type="text" name="status" placeholder="Statut">





<input type="number" name="extern_max" placeholder="Nombre de places externes">
<input type="number" name="intern_max" placeholder="Nombre de places internes">
<input type="number" name="intern_price" placeholder="Prix des places internes">
<input type="number" name="extern_price" placeholder="Prix des places externes">


<input type="number" name="nb_staff" placeholder="Nombre staff">


<div class = "checkboxstyle" >
<div>
<input type="checkBox" name="prenium" id="prenium">
<label for="prenium">Evenement prenium</label>

<input type="checkBox" name="display">
<label for="checkbox">Afficher les stats</label>
</div>

<div>
<input type="checkBox" name="valid_pres" id="valid_pres">
<label for="valid_pres">Valider l'evenement</label>

<input type="checkBox" name="valid_resp" id="valid_resp">
<label for="valid_resp">Valider l'evenement</label>
</div>



</div>

<div class = "image">
<input type="file" name="image" id="image" placeholder="Image">
<label for="image">Importer une image</label>
</div>

<div>
<input type="submit" value="Validation" />
</div>
{% endwith %}

</div>

</div>
</div>


</div>
</body>
</html>
