<!doctype html>

{% load staticfiles %}

<html lang="en">
<head>
  <title>connection</title>
    <link rel='icon' href="{% static 'img/favicon.ico' %}" type='image/x-icon'/ >

  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/text-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/coverflow.css' %} ">
     <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %} ">
  <script src="{% static 'js/form.js' %} "></script>
</head>

<!-- quick fix here : div and inline css !-->
<style>
  #if_div {
    position: absolute;
    top: 55%;
    left: 50%;
    padding:15px;
    -ms-transform: translatex(-50%) translatey(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  div#if_div h1 {
    color: #23519b;
  }
  div#if_div li {
    list-style-type: none;
    margin-top: 15px;
  }
  div#if_div a {
    color: #23519b;
  }
  #frame {
    border:1px solid black;
    padding: 10px;
    background: #00435f;
  }
  div#if_div input{
    width: 200px;
    height: 20px;
  }
</style>


<body>

	<!-- Header -->
	<section class="billboard main">
		<header class="wrapper main">

			<!-- Connexion field + button -->
			<!-- End connexion field + button -->

			<!-- Navbar -->
      <a href="/ticket/{{ user_id }}/connected/"><img class="logo" src="{% static 'img/logo.png' %}" alt=""/></a>
			<nav>
				<ul>
					<li><a href="/ticket/">Accueil</a></li>
					<li><a href="/ticket/Evenements/">Evenements</a></li>
					<li><a href="/ticket/connection_form/">Mes associations</a></li>
					<li><a href="/ticket/connection_form/">Mes evenements</a></li>
					<li><a href="/ticket/connection_form/">Connexion</a></li>
				</ul>
			</nav>
		</header>
		<!-- End Navbar -->

		<!-- Page title -->
		<div class="underline">Inscription</div>
		<!-- EndPage title -->

	</section>
	<!-- End Header -->
	
	<!-- Body-->

<div class = "container">
<div class = "form">

<h2>Inscription</h2>

{% if error %}
<p style="color:red;">{{error}}</p>
{% endif %}

<form method="POST"  action="/ticket/inscription_check/">
{% csrf_token %}

<li><input type="text" name="firstname" placeholder="prenom"></li>
<li><input type="text" name="lastname" placeholder="nom"></li>
<li><input type="text" name="email" placeholder="email"></li>
<li><input type="password" name="password" placeholder="mot de passe"></li>
<li><input type="password" name="password_confirm" placeholder="confirmation"></li>
<li><input type="submit" value="Valider" /></li>
</div>

</div>
</div>


</div>
</body>
</html>
