<!doctype html>

{% load staticfiles %}

<html lang="en">
<head>
  <title>connection</title>
  <meta charset="utf-8">
    <link rel='icon' href="{% static 'img/favicon.ico' %}" type='image/x-icon'/ >

  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/text-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/coverflow.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mes_associations.css' %} ">
  <script src="{% static 'js/form.js' %} "></script>
</head>

<!-- quick fix here : div and inline css !-->


<body>


	<!-- Header -->
	<section class="billboard main">
		<header class="wrapper main">

			<!-- Connexion field + button -->
			<!-- End connexion field + button -->

			<!-- Navbar -->
      <a href="/ticket/{{ user_id }}/connected/"><img class="logo" src="{% static 'img/logo.png' %}" alt=""/></a>
			<nav>
				<ul>
          <li><a href="/ticket/{{ user_id }}/connected/">Accueil</a></li>
          <li><a href="/ticket/{{ user_id }}/Evenements/">Evenements</a></li>
          <li><a href="/ticket/{{ user_id }}/mesAssociations/">Mes associations</a></li>
          <li><a href="/ticket/{{ user_id }}/mesEvenements/">Mes evenements</a></li>
          <li><a href="/ticket/">Deconnexion</a></li>
				</ul>
			</nav>
		</header>
		<!-- End Navbar -->

		<!-- Page title -->
		<div class="underline">Mes associations</div>
		<!-- EndPage title -->

	</section>
	<!-- End Header -->




{% for e in list_event %}

<div class="assoblock">
  <h2>{{ e.title }}</h2>
  
  {{ e.description }}

  {% if boolModif %}
  <li><a href="/ticket/{{ user_id }}/{{ asso_id }}/{{ e.id }}/modifForm/">Modifier l'evenement</a><li>
  {% endif %}
  
  {% if boolStaff %}
  <li><a href="/ticket/{{ user_id }}/{{ asso_id }}/{{ e.id }}/staffForm/">Nouveau staff</a><li>
  {% endif %}
  
  {% if boolDelete %}
  <li><a href="/ticket/{{ user_id }}/{{ asso_id }}/{{ e.id }}/delete/">Supprimer l'evenement</a><li>
  {% endif %}
  <li><a href="/ticket/{{ user_id }}/{{ asso_id }}/{{ e.id }}/list_staff/">Liste du staff</a><li>
</div>
{% endfor %}

{% if new %}
  <a href="/ticket/{{ user_id }}/createAssociation_check/"><img class="add" src="{% static 'img/add.png' %}" alt=""/></a>
{% endif %}

</body>
</html>
