<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
	<title>Tender-Tickets</title>
	<meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/text-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/coverflow.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %} ">
  <script src="{% static 'js/form.js' %} "></script>
  <script src="{% static 'js/angular.js' %}"></script>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/coverflow.js' %}"></script>
</head>

<style>
  #message_div {
    position: absolute;
    left: 50%;
    top: 38%;
    -ms-transform: translatex(-50%);
    -webkit-transform: translatex(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
  }

  div#message_div a {
    color: Grey; 
  }
  
  div#message_div p {
    color: White;
  }
</style>

<body ng-app="ngApp">
	<!-- Header -->
	<section class="billboard main">
		<header class="wrapper main">

			<!-- Connexion field + button -->
			<!-- End connexion field + button -->

			<!-- Navbar -->
			<a href="/ticket/"><img class="logo" src="{% static 'img/logo.png' %}" alt=""/></a>
			<nav>
				<ul>
					<li><a href="/ticket/">Accueil</a></li>
					<li><a href="/ticket/Evenements/">Evenements</a></li>
					<li><a href="/ticket/connection_form/">Mes associations</a></li>
					<li><a href="/ticket/connection_form/">Mes evenements</a></li>
					<li><a href="/ticket/connection_form/">Connexion</a></li>
				</ul>
			</nav>
		</header>
		<!-- End Navbar -->

		<!-- Page title -->
		<div class="underline">Billeterie</div>
		<!-- EndPage title -->

	</section>
	<!-- End Header -->
	
	<!-- Body-->




<div class="container">

<div class="form">
      <h2></h2>
      <p id="message">{{ string }}</p>
    <div class="buttonskinretour">
      {% if bool %}
        <a href="/ticket/">Accueil</a>
      {% else %}
        <a href="/ticket/{{ user_id }}/connected/">Accueil</a>
      {% endif %}
</div>
</div>
</div>
</div>


	<!--End Body-->

</body>
</html>
