<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
  <title>Connection</title>
  <meta charset="utf-8">
    <link rel='icon' href="{% static 'img/favicon.ico' %}" type='image/x-icon'/ >

  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/text-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/coverflow.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %} ">
  <script src="{% static 'js/form.js' %} "></script>
</head>

<!-- Quick fix here : div and inline css !-->
<style>
  #pr_div {
    position: absolute;
    top: 40%;
    left: 50%;
    padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  div#pr_div p {
    color: #23519b;
    margin-bottom: 5px;
  }
  div#pr_div li {
    list-style-type: none;
    margin-top: 15px;
  }
  div#pr_div a {
    color: #23519b;
  }
</style>

<body>
	<!-- Header -->
	<section class="billboard main">
		<header class="wrapper main">

			<!-- Connexion field + button -->
			<!-- End connexion field + button -->

			<!-- Navbar -->
      <a href="/ticket/{{ user_id }}/connected/"><img class="logo" src="{% static 'img/logo.png' %}" alt=""/></a>
			<nav>
				<ul>
					<li><a href="/ticket/">Accueil</a></li>
					<li><a href="/ticket/Evenements/">Evenements</a></li>
					<li><a href="/ticket/connection_form/">Mes associations</a></li>
					<li><a href="/ticket/connection_form/">Mes evenements</a></li>
					<li><a href="/ticket/connection_form/">Connexion</a></li>
				</ul>
			</nav>
		</header>
		<!-- End Navbar -->

		<!-- Page title -->
		<div class="underline">Billeterie</div>
		<!-- EndPage title -->

	</section>
	<!-- End Header -->
	
	<!-- Body-->
<dic class = "container">
<div class = "form">
  <h2>Mot de passe oublié</h2>

<form method="POST"  action="/ticket/passwordRecovery/">
{% csrf_token %}
<input type="text" name="email" placeholder="Email">
<input type='submit' value = 'submit'>
</div>
</div>

</body>

</html>
