<!doctype html>

{% load staticfiles %}
{% load ticket_extras %}

<html lang="en">
<head>
  <title>connection</title>
  	<link rel='icon' href="{% static 'img/favicon.ico' %}" type='image/x-icon'/ >

  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/text-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/coverflow.css' %} ">
</head>

<!-- quick fix here : div and inline css !-->
<style>
  #if_div {
    position: absolute;
    top: 50%;
    left: 50%;
    padding:15px;
    -ms-transform: translatex(-50%) translatey(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  div#if_div h1 {
    color: #23519b;
  }
  div#if_div li {
    list-style-type: none;
    margin-top: 15px;
  }
  div#if_div a {
    color: #23519b;
  }
</style>


<body>

	<!-- Header -->
	<section class="billboard main">
		<header class="wrapper main">

			<!-- Connexion field + button -->
			<!-- End connexion field + button -->

			<!-- Navbar -->
      <a href="/ticket/{{ user_id }}/connected/"><img class="logo" src="{% static 'img/logo.png' %}" alt=""/></a>
			<nav>
				<ul>
					<li><a href="/ticket/">Accueil</a></li>
					<li><a href="/ticket/Evenements/">Evenements</a></li>
					<li><a href="/ticket/connection_form/">Mes associations</a></li>
					<li><a href="/ticket/connection_form/">Mes evenements</a></li>
					<li><a href="/ticket/connection_form/">Connexion</a></li>
				</ul>
			</nav>
		</header>
		<!-- End Navbar -->

		<!-- Page title -->
		<div class="underline">Billeterie</div>
		<!-- EndPage title -->

	</section>
	<!-- End Header -->
	
	<!-- Body-->

<div id="if_div">

{% with "/ticket/"|addstr:token|addstr:"/resetPassword/" as url_ %}
<h1> Nouveau mot de passe<h1>
<form method="POST"  action={{ url_ }}>
{% csrf_token %}
<input type="password" name="password" placeholder="Password">
<input type="password" name="password_conf" placeholder="Confirmation">
<input type="submit" value="Validation" />

{% endwith %}

</div>
</body>
</html>

