<!doctype html>

{% load staticfiles %}

<html lang="en">
<head>
  <meta charset="utf-8">
    <link rel='icon' href="{% static 'img/favicon.ico' %}" type='image/x-icon'/ >

  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/text-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/coverflow.css' %} ">
</head>

<!-- quick fix here : div and inline css !-->
<style>
  #me_div {
    position: absolute;
    top: 38%;
    left: 50%;
    padding:15px;
    -ms-transform: translatex(-50%) translatey(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
  }
  div#me_div h1 {
    color: #23519b;
    text-align: center;
  }
  div#me_div li {
    list-style-type: none;
    margin-top: 15px;
  }
  div#me_div a {
    color: #23519b;
    text-align: center;
  }
</style>

<body>

	<!-- Header -->
	<section class="billboard main">
		<header class="wrapper main">

			<!-- Connexion field + button -->
			<!-- End connexion field + button -->

			<!-- Navbar -->
      <a href="/ticket/{{ user_id }}/connected/"><img class="logo" src="{% static 'img/logo.png' %}" alt=""/></a>
			<nav>
				<ul>
					<li><a href="/ticket/">Accueil</a></li>
					<li><a href="/ticket/Evenements/">Evenements</a></li>
					<li><a href="/ticket/connection_form/">Mes associations</a></li>
					<li><a href="/ticket/connection_form/">Mes evenements</a></li>
				</ul>
			</nav>
		</header>
		<!-- End Navbar -->

		<!-- Page title -->
		<div class="underline">Evenements</div>
		<!-- EndPage title -->

	</section>
	<!-- End Header -->

<div id="me_div">

Associations
{% for m in list_asso %}

<div class="assoblock">
  <h2>{{ m.association.name }}</h2>
  <li><a href="/ticket/{{ user_id }}/{{ m.association.id }}/listMember/">Liste des membres</a><li>
  <li><a href="/ticket/{{ user_id }}/{{ m.association.id }}/listEvent/">Liste des evenements</a><li>
  {% if new %}
    <li><a href="/ticket/{{ user_id }}/{{ m.association.id }}/addMember_form/">Nouveau membre</a><li>
        {% endif %}
        <li><a href="/ticket/{{ user_id }}/{{ m.association.id }}/createEvent_form/">Créer un évenement</a><li>
  </div>
{% endfor %}

Evenements

{% for e in list_event %}
<div class = "containerevent">
  <div class = "form">
    <div class="buttonskin">
   <h2> {{ e.title }} </h2>
   {% if e.image %}
     <img src="/static/img/{{e.image}}" alt="Illustration : {{e.image}}"></img>
   {% else %}
     <img src="/static/img/eventNotFound.jpg" alt="Illustration : not found"></img>
   {% endif %}
   <h4> {{ e.description }}</h4>
   <h5> Début : {{ e.begin_field }}</h5>
   <h5> Fin   : {{ e.end_field }}</h5>
   </div>
  </div>
</div>
{% endfor %}
</div>
</body>
</html>
