<!doctype html>

{% load staticfiles %}

<html lang="en">
<head>
  <title>connection</title>
  <meta charset="utf-8">
    <link rel='icon' href="{% static 'img/favicon.ico' %}" type='image/x-icon'/ >

  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/text-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/coverflow.css' %} ">
      <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %} ">
  <script src="{% static 'js/form.js' %} "></script>
</head>

<!-- quick fix here : div and inline css !-->
<style>
  #ma_div {
    position: absolute;
    top: 38%;
    left: 50%;
    padding:15px;
    -ms-transform: translatex(-50%) translatey(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
  }
  div#ma_div h1 {
    color: #23519b;
    text-align: center;
  }
  div#ma_div li {
    list-style-type: none;
    margin-top: 15px;
  }
  div#ma_div a {
    color: #23519b;
    text-align: center;
  }
</style>

<body>


	<!-- Header -->
	<section class="billboard main">
		<header class="wrapper main">

			<!-- Connexion field + button -->
			<!-- End connexion field + button -->

			<!-- Navbar -->
      <a href="/ticket/{{ user_id }}/connected/"><img class="logo" src="{% static 'img/logo.png' %}" alt=""/></a>
			<nav>
				<ul>
          <li><a href="/ticket/{{ user_id }}/connected/">Accueil</a></li>
          <li><a href="/ticket/{{ user_id }}/Evenements/">Evenements</a></li>
          <li><a href="/ticket/{{ user_id }}/mesAssociations/">Mes associations</a></li>
          <li><a href="/ticket/{{ user_id }}/mesEvenements/">Mes evenements</a></li>
          <li><a href="/ticket/">Deconnexion</a></li>
				</ul>
			</nav>
		</header>
		<!-- End Navbar -->

		<!-- Page title -->
		<div class="underline">Resulat</div>
		<!-- EndPage title -->

	</section>
	<!-- End Header -->

<div class="form">
<h2>Associations</h2>
{% for a in list_asso %}
  {{ a.name }}
{% endfor %}
</div>

<div class="form">
<h2>Evenements</h2>
{% for e in list_event %}
  {{ e.title }}
{% endfor %}
</div>

</body>
</html>
