{% load staticfiles %}
{% load ticket_extras %}

{% with "/ticket/"|addstr:user_id|addstr:"/resultatRecherche/" as url_ %}
<form method="POST"  action={{ url_ }}>
{% csrf_token %}
<input type="text" name="search" placeholder="Recherche">
<input type="submit" value="Rechercher" />
</form>
{% endwith %}
