.coverflow__container {
  margin-top: 150px;
  padding-top: 100px;
  margin-bottom: 100px; 
  left: 0;
  right: 0;
  -webkit-perspective: 900px;
          perspective: 900px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);

}
.coverflow__element {
  position: absolute;
  left: 50%;
  width: 560px;
  height: 336px;
  margin-left: -280px;
  margin-top: -175px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: all 400ms cubic-bezier(0.01, 0.75, 0.34, 0.95);
  background: #00435f;
  box-shadow: 0 20px 16px -2px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.coverflow__image img {
  width: 100%;
}
.coverflow__title {
  font-family: "raleway-regular";
  color:#fab810;
  font-family: Helvetica;
  margin-top: 1rem;
  padding-left: 1.5rem;
}
