
.form{
    font-family: "raleway-regular";  
    list-style: none; 
     width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form h2{

    text-transform: uppercase;
    background: #00435f;
    font-family: "raleway-regular";
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}

.form input[type="text"],
.form input[type="description"],
.form input[type="email"],
.form input[type="number"],
.form input[type="password"],
.form textarea,
.form select 
{
    box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font-size: 16px ;
    font-family: "raleway-regular";  
    height: 45px;
    color: #757575;
}

.form input[type="datetime-local"]
{
    box-sizing: border-box;
    outline: none;
    display: block;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    margin-left: -10px;
    font-size: 16px ;
    font-family: "raleway-regular"; 
        color: #757575; 
    height: 45px;
}




label{
        font-family: "raleway-regular"; 
        float: left; 
        width: 10em; 
        margin-right: 1em; 
        font-size: 16px;
                    color: #757575;
        padding-top: 20px;
        padding-left: 7px;
}

.checkboxstyle label{
        font-family: "raleway-regular";
        color: #757575;
        float: none;
        font-size: 10px;
}

.image label{
 padding-top: 7px;

}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin:0;
}

/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
    -o-appearance: none;
    margin:0
}



.form textarea{
    resize:none;
    overflow: hidden;
}



.form input[type="button"], 
.form input[type="submit"]{
    box-shadow: inset 0px 1px 0px 0px #3e3e3e;
    box-shadow: inset 0px 1px 0px 0px #3e3e3e;
    box-shadow: inset 0px 1px 0px 0px #3e3e3e;
    background-color: #3e3e3e;
    border: 1px solid #3e3e3e;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin: auto;
}

.form input[type="file"]{
    padding: 8px 18px;
  
}


.form li a {
    padding-top: 10px;
    font-size: 14px;
}

.container{
    height: 500px;
    width: 500px;
    margin: auto;
}

.containerevent{
    height: auto;
    width: 500px;
    margin: auto;
}

.buttonskin a{
font-family: "raleway-regular";
color: #fff;
text-transform: uppercase;
padding: 8px 18px;
font-size: 14px;
text-decoration: none;
margin:auto;
background-color:  #2aaa11;
}



.buttonskinretour a{

font-family: "raleway-regular";
color: #fff;
text-transform: uppercase;
padding: 8px 18px;
font-size: 14px;
border-top: 10px;
text-decoration: none;
margin:auto;

background-color:  #3e3e3e;
}

.form li {
    margin-bottom: 10px;
}
