/*  Fonts  */
@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#raleway-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#raleway-semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#raleway-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}



.wrapper{
    width: 1100px;
    height: auto;
    margin: 0 auto;

}


/*    Billboard    */
.billboard{
    width: 100%;
    height: 250px;
    position: relative;
}

.billboard.main{
    background: url('../img/billboard.png') no-repeat;   
    background-size: cover;
}



/*    header    */
header{
    width: 100%;
    height: 125px;
}

header .logo{
    float: left;
    height:80px;
    width:auto;
    margin-top: 20px;
}

header nav{
    float: right;
    margin-top: 10px;
}


header nav ul li{
    list-style: none;
    display: block;
    float: left;
    margin-left: 50px;
}

header nav ul li a{

    text-decoration: none;  
    font-family: "raleway-regular";
    color:#fff;
    font-size: 14px;
    transition:all .2s linear;
}

header nav ul li a:hover{
    color: #25b4f5;
    text-decoration:underline;
}

header .connexion{
    margin-top:10px;
    float:right;
}

/*body*/

.pwd{
    color: #0d2436;
    width: 100%;
    height: 30px;
    background: url('../img/color_blue_dark.png') no-repeat;
}

.post{
    width: 100%;
    margin-top: 200px;
    background: url('../img/color_blue_dark.png') no-repeat;   
}


body{
background: url('../img/color_blue_dark.png') repeat; 

}

/*    footer    */
footer{
    padding: 35px 0;
    overflow: hidden;
}
