.test{


	color : #fff;
}

.add{
	width: 30px;
	height: auto;
	margin: auto;
	display: block;
	padding-bottom: 20px;

}

.assoblock{
    font-family: "raleway-regular";  
    list-style: none; 
     width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.assoblock h2{

    text-transform: uppercase;
    background: #00435f;
    font-family: "raleway-regular";
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;