    html, body,  footer, header, nav, section
    {
        margin:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
    }

  
    img{
        max-width: 100%;
    }

    nav ul {
        list-style:none;
    }

    a {
        margin:0;
        padding:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
    }
