
.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00435f;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute; 
  background: url({% static 'img/loupe.png' %}) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0); 
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00435f;
  background: #00435f;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
}