.underline {
    font-family: "raleway-bold";
    font-size: 50px;
    margin-top: 0px;
    margin-left: 70px;
    float: left;
    color:#fff;
    position: relative;
    text-align: center;
    z-index: 1;
}

.underline:before {
    border-top: 25px solid #1e8bbf;
    content:"";
    margin: 0 auto; 
    position: absolute;
    top: 25px; left: 0; right: 0; bottom: 0;
    width: 101%;
    z-index: -1;
}


